@charset "UTF-8";

.container{
    display: grid;
    grid-template-rows: repeat(9, 95px);
    grid-template-columns: repeat(7, 150px);
}

 div.cabecalho{
    background-color: darkgoldenrod;
    grid-row: 1 / 2;
    grid-column: 1 / 5;
}

div.menu{
    background-color:rgb(104, 97, 78);
    grid-row: 2 / 3;
    grid-column: 1 / 5;
}

div.principal{
    background-color: rgb(200, 180, 129);
    grid-row: 3 / 6;
    grid-column: 1/ 5;
}

div.secundario{
    background-color: rgb(134, 120, 84);
    grid-row: 3 /6;
    grid-column: 3 /5;
}

div.rodape{
    background-color: rgb(95, 70, 6);
    grid-row: 6 / 7;
    grid-column: 1 /5;
    
}

